@use "common"

canvas
  width: min(512px, 80vmin)
  height: min(512px, 80vmin)
  filter: blur(1px)
  position: relative

footer
  display: flex
  justify-content: space-between

  button, a
    margin-top: 8px
    border: none
    outline: none
    appearance: none
    cursor: pointer
    background: none
    color: cadetblue
    text-decoration: none
    font: inherit

    &:active
      color: white